.pro-sidebar {

    .profile-container {
        margin-top: 2rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .profile-data {
        margin-top: 1rem;
        text-align: center;
    }
    
    .profile-name {
        font-size: 20px;
        font-weight: bold;
        color: #ffffff
        // font-family: "Trebuchet MS", Helvetica, sans-serif;
    }
    
    .profile-position {
        margin-top: -15px;
        font-size: 15px;
        color: #bdbdbd;
    }
    
    .profile-workplace {
        margin-top: -5px;
        font-size: 13px;
        color: #bdbdbd;
    }

    &.collapsed {
        .profile-image {
            // display: none;
            width: 3.8rem;
            height: 3.8rem;
        }
        .profile-name {
            display: none;
        }
        .profile-position {
            display: none;
        }
        .profile-workplace {
            display: none;
        }

    }

}



