.profile-container {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.profile-data {
    margin-top: 1rem;
    text-align: center;
}

.profile-name {
    font-size: 20px;
    font-weight: bold;
    // font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.profile-position {
    margin-top: -15px;
    font-size: 15px;
    color: #656565;
}

.profile-workplace {
    margin-top: -5px;
    font-size: 13px;
    color: #555555;
}